*{
       box-sizing: border-box;
}

body {
       background-color: #0f4421 ;
       /* background-image: linear-gradient(to right, #166330, #195a22); */
       color: #fff;
       font-family: 'Mukta', sans-serif;
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 80vh;
       margin: 0;
       overflow: hidden;
}

h1{
   margin: 20px 0 0;    
}

/* Main Game Container */
.game-container{
       padding: 20px 30px;
       position: relative;
       margin: auto;
       height: 350px;
       width: 450px;
}


.figure-container {
       fill: transparent;
       stroke: #fff;
       stroke-width: 4px;
       stroke-linecap: round;
}

.figure-part{
       display: none;
}

/* Wrong Letters Container */
.wrong-letters-container{
       position: absolute;
       top: 20px;
       right: 20px;
       display: flex;
       flex-direction: column;
       text-align: right;
       
}

.wrong-letters-container p{
       margin: 0 0 5px;
}


.wrong-letters-container span{
       font-size: 24px;
}

.word{
      display: flex; 
      position: absolute;
      bottom: 20px;
      left: 89%;
      transform: translateX(-50%);
}

.letter{
      border-bottom: 3px solid #2980b9;
      display: inline-block;
      font-size: 30px;
      align-items: center;
      justify-content: center;
      margin: 0 3px;
      height: 50px;
      width: 20px;


}

/* Popup Message Container */

.popup-container{
       background-color: rgba(0, 0, 0, 0.3);
       position: fixed;
       top: 0;
       left: 0px;
       right: 0px;
       bottom: 0px; 
       display: none;  
       align-items: center;
       justify-content: center;

}

.popup{
       background: #21262b;
       border-radius: 5px;
       box-shadow: 0px 15px 10px 1px rgba(0, 0, 0, 0.1);
       padding: 20px;
       text-align: center;
       
}

.popup button {
    cursor: pointer;   
    background-color: #fff;
    color: green;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;

    
}

.popup button:active {
       transform: scale(0.98);
}
.popup button:focus {
       outline: 0;
}

.notification-container{
       background-color: rgba(0, 0, 0, 0.3);
       border-radius: 10px 10px 0 0;
       padding: 15px 20px;
       position: absolute;
       bottom: -50px;
       transition: transform 0.3s ease-in-out;
}

.notification-container p {
       margin: 0;
}

.notification-container.show{
       transform: translateY(-50px);
}